.Container{
display : flex ;
flex-direction : column ;
overflow : hidden ;
text-align: center;
height: 100vh;
}
.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
    margin-bottom: 10vw;
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    padding: 80px 40px;
    height: 100%;
}

.CTA{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;  
}

.BgImg{
    height: 100%;
  background-position: top;
  /* bg-size cover cover up the whole screen*/
  background-size: cover;
  background-repeat: no-repeat;
 background-image: url("./login-background.jpg");
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.CTAlogoOne{
    margin-bottom: 12px;
    max-width: 600px;
    min-height: 1px;
    display: block;
    width: 100%;
}

.Signup{
    font-weight: bold;
    color: #f9f9f9;
    background-color: #0063e5;
    margin-bottom: 12px;
    width: 100%;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 16.5px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    
}

.Signup:hover {
    background-color: #0483ee;
  }

.Description{
  font-size: 11px;
  margin: 0 0 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.CTAlogoTwo{
    max-width: 600px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}